// Show Page

$lavender_gray: hsla(159%, 16%, 79%, 1);
$color2: hsla(184%, 12%, 72%, 1);
$color3: hsla(210%, 5%, 64%, 1);
$color4: hsla(273%, 4%, 52%, 1);
$color5: hsla(346%, 8%, 31%, 1);
$card-background: #fff;


.project {
	height: 100%;
}

.project .show {
	// width: 95%;
	margin: auto;
}

.show-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2fr;
	grid-gap: .2rem;
	background-color: #F1FFFA;
}

.info-card {
	box-shadow: -1px 1px 3px #A2A2A2;
	background-color: $card-background;
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	// margin-left: 20px;
	margin-top: 10px;
	padding: 10px;
}

.reports-card {
	box-shadow: -1px 1px 3px #A2A2A2;
	background-color: $card-background;
	grid-column: 2 / 3;
	grid-row: 1 / 3;
	margin-top: 10px;
	// margin-right: 20px;
}

.map-card {

	grid-column: 1 / 3;
	grid-row: 3 / 4;
	// margin-left: 20px;
	// margin-right: 20px;
	margin-bottom: 25px;
}

#map {
	height: 400px;
	width: 100%;
	box-shadow: -1px 1px 3px #A2A2A2;
}

#coords {
	margin-left: 10px;
	font-size: .9em;
}



